.container {
    flex-direction: row;
    display: flex;
    height: 100%;

    .left {
        width: 60%;
        height: 100%;
        background-color: #68c2e8;

        .login-form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            .login-form {
                width: 35%;
                height: 45%;
                background-color: white;
                border-radius: 10px;
                padding: 20px;
            }
        }
    }

    .right {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo-container {
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
                color: #68c2e8;
                font-size: 3rem;
            }
        }
    }
}
