@import "./sass/_mixins.scss";

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}

.top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Inter", "sans-serif";
    font-weight:900;
    margin: 50px 0;

    & .title {
        font-size: 2.5rem;
        margin-right: 50px;
    }
    & .logo {
        width: 150px;
    }
}

.search-bar {
    width: 80%;
    margin-top: 50px;
}

.neurosynth-background {
    height: 100%;
}

// Adjust for different screen sizes and mobile friendly design
@include for-small-device-only {
    .top-container {
        flex-direction: column;
        margin: 0;

        & .title {
            margin-right: 0;
        }   
    }
}

// @include for-small-desktop-only {
// }

// @include for-desktop-up {
// }

// @include for-large-desktop-up {
// }